*.blend
*.blend1
*.swp
seq/*
venv/*
.idea/*
*__pycache__/*
__pycache__/*
*.pyc
*.pyo
*.pyd
*.png
*.jpg
*.mp4
*.obj
*.mtl
*.gif
*.jpeg
__pycache__/
polyop.egg-info/
*.egg-info/
*.egg-info/*
examples/results/*
build/
images/
images/*
!start.gif